[2011-05-14 11:06] OSdave opened #7 "Issue: can't see it"
Hi,
I've just install it through magentoconnect on a 1.5.0.1: "magento_debug" shows up in the core_resource table, "debug" table has been create, "cache storage" has been flushed, but the left bar doesn't show up (as it should acording the wiki screenshots).
I haven't see anything in "system -> configuration" (and there is no etc/system.xml, so I assume it's normal) to enable it.
I also disabled a

[2012-08-21 17:38] florinel-chis opened #15 "viewLogAction - number of lines"
[code]
The number of lines for exception.log is too low if your stack trace is more than 10 lines...
One way to deal with this is move 10 to the config (so it can be set to 20-30-whatever) or start from the last line and go back 3 lines from line starting with: #0
[code]

[2012-11-23 18:03] TheCopartnery opened #19 "SQL profiler instructions missing"
Forgot to mention this before when i sent over an update for the Readme but whatever code is meant to be shown under Known Issues for enabling the SQL profiler is missing/incomplete.

[2013-01-09 18:27] Flyingmana opened #20 "send sql explain requests per POST to avoid Request-URI Too Large error"

[2013-04-15 09:34] reesmcivor opened #22 "Check if array on admin template"
app/design/adminhtml/base/default/template/debug/controller.phtml
Just done a modification to line 80 to check if $data is an array before looping it.

line 80: <?php if(is_array($data)) : ?>
line 98: <?php endif; ?>

This error occurred when I installed fooman speedster mod.

[2013-06-21 07:14] R11baka opened #23 "Can't see in frontend"
I cant see in frontend.Magento 1.7.0.2.Use not default store,and theme.In backend all ok.
No included any js file

[2014-01-07 07:40] zawmyohtet opened #24 "Doesn't work in Magneto 1.8.1"
After updating to Magento 1.8.1, installing debug bar from magento connect and it doesn't work. Also doesn't work in fresh install.

[2014-05-29 14:00] elibyy opened #27 "cant see the toolbar on specific page"
i get the following error in the console

`Uncaught HierarchyRequestError: Failed to execute 'appendChild' on 'Node': This node type does not support this method. toolbar.js:14`

it only happens on a page from a custom block what can i do to fix it

[2014-12-09 00:25] clojens opened #30 "Versioning (git tag)"
Your current versioned release by means of git tag (`v-1.0.0`) is invalid and causing composer to choke on teh non-semantic versioning/typo as the `-` hyphen causes (removal would suffice).

So please if you could, `v1.0.0` or better yet (if still new) use a `v0.1.0` to reflect earlier development stages (I haven't evaluated the software so I can't say, just noticed this when I wanted to try it ou

[2015-01-28 19:31] missoxd commented on #30
Please!!!

[2015-04-05 09:39] clockworkgeek commented on #30
:+1:

[2015-04-17 16:07] avra911 commented on #22
check: https://github.com/madalinoprea/magneto-debug/pull/34

[2015-07-10 19:11] mr-jingles commented on #23
i think the problem is that one file gets linked to two destinations:

in the modman file:

#frontend
design/layout/debug.xml         app/design/frontend/base/default/layout/debug.xml
design/template/debug           app/design/frontend/base/default/template/debug
# admin
design/layout/debug.xml         app/design/adminhtml/base/default/layout/debug.xml
design/template/debug           app/design/ad

[2015-07-10 20:04] mr-jingles commented on #23
this one works with bragento installer: https://github.com/mr-jingles/magneto-debug.git

[2015-08-04 08:44] hungpvdev opened #37 "HierarchyRequestError: Node cannot be inserted at the specified point in the hierarchy toolbar.js:14:0"
Please check this error.

I have just install in CE 1.9.1 and this error show in console & debug toolbar not showing.

[2015-08-18 11:35] hungpvdev commented on #37
Something wrong with browsers.

I try on firefox, chrome, ie. Debug panel are not show. When i open developer tool and change to IE 10. It 's suddenly show and seem work great. Could you check it?

[2015-08-25 10:04] #27 closed

[2015-11-23 16:06] kevin25 opened #38 "Issue after installing debug"
after i installed it. I logged in backend and got the error:

Mage registry key "_singleton/debug/observer" already exists

How can i fix it?

[2016-02-03 09:42] madalinoprea commented on #38
Closing this: this error occurs when cache is not properly built.

Usually, this gets resolved by flushing Magento's cache.

[2016-02-03 09:42] #38 closed

[2016-02-03 09:47] madalinoprea commented on #24
I'm also amazed this hack project still works for latest Magento versions :D

Sadly I prefer using modman because it allows to have  a sane extension directory structure.

Closing this issue.

[2016-02-03 09:47] #24 closed

[2016-02-03 09:52] madalinoprea commented on #23
Closing this.

I don't have an idea why reported issue occurred. Usually we have several suspects (I should probably document those):
- Magento is not configured to accept symlinked template files
- Apache is not configured to follow symlinks (see Option FollowSymLinks)

[2016-02-03 09:52] #23 closed

[2016-02-03 09:53] madalinoprea commented on #22
Thanks @avra911

[2016-02-03 09:53] #22 closed

[2016-02-03 09:54] madalinoprea commented on #19
Looks good now. And it only passed 2.5 years

[2016-02-03 09:54] #19 closed

[2016-02-03 09:55] #7 closed

[2016-02-03 10:38] r-martins commented on #23
Just try to see if it's loaded in html but not shown.
There's a bug in new versions of magento, that is easy to correct. The <head> js/css selector finds more than one element. You just need to fix that line if this is the problem.

[2016-02-05 01:20] madalinoprea commented on #20
Done in 33be05952bb4a36ef8bfb4437964a59ba21a4ca5

[2016-02-05 01:20] #20 closed

[2016-02-05 01:22] madalinoprea commented on #15
All lines added during current request are going to be listed. See: 47e5d3d97a06c1132b05327e9707622369d14fba

[2016-02-05 01:22] #15 closed

[2016-02-05 01:30] madalinoprea commented on #30
Thanks for suggestion.

I know that I didn't check GitHub for a while but I don't understand why I didn't see any of these issues. Maybe my Gmail rules are too aggressive.

Hopefully my tags will be more composer friendly.

ps: Magneto was inspired from X-Men. Someone dear spent time to create an icon for it :)

[2016-02-05 01:30] #30 closed

[2016-02-05 01:38] madalinoprea opened #40 "Replace jQuery with prototype"
Makes more sense to remove jQuery and rely on out of the box prototype library.

[2016-02-05 01:39] madalinoprea opened #41 "Persist request info"
- persist request information
- add job that deletes records older than x days

[2016-02-05 01:42] madalinoprea opened #42 "Re-skin toolbar"
Simplify presented information

[2016-02-05 01:42] madalinoprea opened #43 "Add request info listing"

[2016-02-05 01:42] madalinoprea opened #44 "Add unit tests"

[2016-02-05 01:43] madalinoprea opened #45 "Configure Travis to run automated tests"

[2016-02-11 22:36] tvby opened #46 "Design > Toolbar component seems to be problematic with https pages"
when trying to view design handles on pages served over https get a mixed content warning in chrome devtools console indicating the page was loaded over https, but requested an insecure XMLHttpRequest endpoint
https://mydomain.com/sheep_debug/design/viewHandle/default/store/1/area/frontend/ . This request has been blocked; the content must be served over HTTPS.

[2016-02-12 14:10] #37 closed

[2016-02-12 14:10] #40 closed

[2016-02-12 14:10] #41 closed

[2016-02-12 14:10] #42 closed

[2016-02-12 14:10] #43 closed

[2016-02-12 14:13] madalinoprea commented on #46
Hi @tvby,

I've pushed a bigger update few minutes ago. Can you check if this still is happening?

I cannot reproduce this issue. My secure and unsecure domains are both configured over https.

Thanks,
Mario

[2016-02-15 07:34] madalinoprea opened #47 "Allow to profile non HTTP requests (e.g shell scripts, cron jobs)"
Currently we start and end capturing assuming an HTTP request that is routed, dispatched.

[2016-02-15 07:35] madalinoprea opened #48 "Capture exceptions raised during a request"

[2016-02-15 07:36] madalinoprea opened #49 "Highlight blocks that were rendered above specified threshold"

[2016-02-15 07:37] madalinoprea opened #50 "Improve support to capture e-mails when common e-mail extensions are installed"
There are several common extensions that extend same models we do. We need to find a better way to reduce/remove rewrite conflicts conflicts.

[2016-02-15 07:44] madalinoprea opened #51 "Review possibilities to implement SQL stack trace"
It would be interesting to show code that is responsible to generate a specific SQL.

Long time ago when I've checked this possibility, implementation involved overwriting some Zend classes. Lets see if anything changed since then. We need something simple and production safe (people should not be able to commit this change into production).

[2016-02-15 17:59] Hobbit78 opened #52 "Template hints not showing through toolbar"
Just updated to the latest version. Toolbar works good to me except the template hints. Somehow they're not showing up. The do show up in the back-end when I enable them through the toolbar.

When I enable them throught the back-end it works fine.

[2016-02-15 18:09] madalinoprea commented on #52
Hi @Hobbit78 ,

Can you run this query and attach the results?

`select * from core_config_data where path like 'dev/debug/template_hints%';`

Latest version is updating template hints configuration only on 'default' scope. We're trying to use only a single configuration to enable/disable template hints on backend and on all available stores.

I assume you have these configuration overwritten at s

[2016-02-15 18:25] Hobbit78 commented on #52
Hi Mario,

There ya go.
`config_id	scope	scope_id	path	value
1139	default	0	dev/debug/template_hints	1
1140	default	0	dev/debug/template_hints_blocks	1
1225	stores	1	dev/debug/template_hints	0
1226	stores	1	dev/debug/template_hints_blocks	0
1395	websites	1	dev/debug/template_hints	0
1396	websites	1	dev/debug/template_hints_blocks	0`

[2016-02-15 19:38] Hobbit78 commented on #52
Hi Mario,

Thanks!
Removing the templates with `delete from core_config_data where path like 'dev/debug/template_hints%' and scope!= 'default'` did the job.

Great to see people working at this great tool again! Keep up the good work!

Cheers!
Pierre

[2016-02-16 11:07] wojtekn opened #53 "Fatal error is thrown if system.log doesn't exist"
I've got this after installing toolbar in project which doesn't have system.log:

    Warning: fopen([...]var/log/system.log): failed to open stream: No such file or directory

Error is gone after creating empty file.

[2016-02-16 12:07] madalinoprea commented on #53
Thanks @wojtekn

I've added required checks and I've pushed these changes into master.

[2016-02-16 12:07] #53 closed

[2016-02-16 12:09] madalinoprea commented on #52
Hi Pierre,

Thanks for your feedback. I've pushed some changes that should prevent this issue for other users.

We've resumed working on this extension few weeks ago after many many years and we hope to be able to dedicate more time in next period.

Thanks,
Mario

[2016-02-16 12:09] #52 closed

[2016-02-16 13:49] MrGekko opened #56 "Nginx compatible "undefined function getallheaders()""
Uncaught Error: Call to undefined function getallheaders() in /vendor/madalinoprea/magneto-debug/code/Debug/Model/Controller.php:47

The function getallheaders does not exist when using Nginx.
This polyfill fixes it:
https://github.com/ralouphie/getallheaders

[2016-02-16 14:34] madalinoprea commented on #56
Thanks Justin for pointing the solution.

I've committed some changes into a dev branch that should be released in the following days. We already had some code pushed in this area.

Cheers,
Mario

[2016-02-16 14:37] #45 closed

[2016-02-17 20:34] madalinoprea opened #57 "Make it compatible for Magento CE 1.7 / Magento EE 1.12"
Currently we don't plan to spent any time on this issue. Please let us know if you're on any of these Magento version and we'll take a look.

For now we know at least one error that needs to be addressed for Magento CE 1.7:
`.PHP Fatal error:  Call to undefined method Mock_Magento_Db_Adapter_Pdo_Mysql_3fc14b29::delete() in /home/travis/build/madalinoprea/magneto-debug/code/Debug/Model/Service.php

[2016-02-18 10:52] madalinoprea opened #58 "Parse Magento's PHP required extensions from etc/install.php"
Currently we have a static array of PHP extensions that are required by Magento.

[2016-02-18 16:22] madalinoprea opened #59 "Resolve blank space created after retrieving layout spaced on 'Layout Updates' tab"

[2016-02-19 08:30] #44 closed

[2016-02-19 08:30] #56 closed

[2016-02-19 08:31] madalinoprea commented on #46
Closing for now. Please reopen if you see same issue on latest release.

[2016-02-19 08:31] #46 closed

[2016-02-19 09:24] MrGekko commented on #50
Agreed! I use https://github.com/aschroder/Magento-SMTP-Pro-Email-Extension and https://github.com/fooman/emailattachments

Maybe a handy bit of code to make them work well with this module:
https://github.com/fooman/emailattachments/blob/master/app/code/community/Fooman/EmailAttachments/Model/Core/Email/Queue/Compatibility.php

[2016-02-19 10:01] madalinoprea opened #60 "Improve installation on Windows"
Investigate other common and easy possibilities to install Magento extensions on Windows.

Current idea:
 - change Git repository to have a folder structure relative to Magento root folder (app, js, skin folders) and Windows users we'll have only to overwrite these 3 folders over their in instance

Any other suggestions? I didn't use Windows in a while.

[2016-02-19 10:04] madalinoprea opened #61 "Request absolute url"
On request profile page we show a clickable absolute url that needs some love;:
- include $_GET values to recreate the exact request url
- non GET requests should not be clickable

[2016-02-19 10:05] madalinoprea opened #62 "Re-add ability to view block and template source code"

[2016-02-19 10:05] madalinoprea opened #63 "Re-add ability to search by configuration path"

[2016-02-19 10:40] madalinoprea opened #64 "Improve block listing"
Use a tree to display rendered blocks.

For example:
![screen shot 2016-02-19 at 12 40 09](https://cloud.githubusercontent.com/assets/605494/13173407/f4b633f8-d705-11e5-9918-c8fbe6784dba.png)

[2016-02-22 15:13] tvby commented on #46
The problem no longer exist. It just now if you are on a https page and access anything through the toolbar the result will switch over to http instead of leaving you on the https page

[2016-02-22 15:23] tvby commented on #47
would this include being able to use the toolbar on magento https pages also?

[2016-02-23 15:46] madalinoprea commented on #46
Previous version was generating url for ajax calls on http even when current page was rendered on https.  Due to this error, ajax call on https pages were not executed.

Current version doesn't contain any ajax call on the actual toolbar. So problem solved :)

All its urls are generated based on current unsecure domain. I don't see any reason why we should stick to https protocol when clicking on

[2016-02-23 15:51] madalinoprea commented on #47
@tvby, latest version should worked correctly over HTTP and HTTPS. Currently, I'm working mostly on two stores. One is entirely on HTTPS and the other one is using only secure urls on HTTPS. On both of them I can view toolbar and access details about current or previous requests. Can you share more details why you cannot use the toolbar on https? Any screenshots are welcomed.

This ticket was crea

[2016-02-26 09:06] #50 closed

[2016-02-26 09:06] #59 closed

[2016-02-26 09:06] #64 closed

[2016-02-29 12:39] tvby commented on #46
Yes I understand your reasoning now.

[2016-03-02 12:35] sandermangel opened #66 "Purpose of thrown error in Model/Block ("is already marked as rendered")"
Could you tell me what the reason is for the thrown error in https://github.com/madalinoprea/magneto-debug/blob/master/code/Debug/Model/Block.php#L56 ?

I ran into some issues getting that on certain pages, still debugging what caused in but it originates from the Innoext_Warehouse module. Still, not sure why it needs to be a fatal error instead of perhaps a warning in a log? #

[2016-03-02 14:53] lfolco commented on #57
I'm using 1.7 and would like to see it fixed.

[2016-03-02 15:18] steffen-wirth commented on #66
I'm having the same issue with Mod_Baseprice & IWD_Onepage_Checkout Extensions

[2016-03-03 08:02] sandermangel commented on #66
@steffen-wirth any one of those free? I want to work on a PR for this issue this weekend. Would be nice to have multiple modules to test

[2016-03-03 08:04] sandermangel commented on #51
@madalinoprea this would be great. Really could have used this feature yesterday during debugging.
is integrating https://github.com/danslo/Danslo_Aop an option so any method/class can be wrapped? Would prevent overwriting of classes

[2016-03-03 10:08] ThomasNegeli opened #68 "Exception in Magento 1.9.2.4"
# Extension Version
1.5.0
# Magento Version
1.9.2.4
# Exception
a:5:{i:0;s:48:"Block ANONYMOUS_41 is already marked as rendered";i:1;s:4648:"#0 /vagrant/vendor/madalinoprea/magneto-debug/code/Debug/Model/Observer.php(261): Sheep_Debug_Model_Block->startRendering(Object(Mage_Adminhtml_Block_Template))
#1 /vagrant/html/app/code/core/Mage/Core/Model/App.php(1358): Sheep_Debug_Model_Observer->onBlockT

[2016-03-03 10:08] steffen-wirth commented on #66
@sandermangel yes both are free. here's a copy of https://github.com/simkea/DerModPro_BasePrice and IWD Onepage Checkout you can download from https://www.iwdagency.com/

[2016-03-03 10:15] steffen-wirth commented on #66
found a better one for DerModPro_BasePrice https://github.com/riker09/DMP_BasePrice/commits/master

[2016-03-03 12:07] sandermangel commented on #66
@steffen-wirth thanks, will work on it this weekend. Shouldn't be too much trouble to make a nice PR

[2016-03-03 12:08] sandermangel commented on #68
Hi @ThomasNegeli already reported this via https://github.com/madalinoprea/magneto-debug/issues/66

[2016-03-03 17:52] madalinoprea commented on #68
Thanks, @ThomasNegeli .

We're going to close this issue as dupe of #66

[2016-03-03 18:35] madalinoprea commented on #51
Thanks @sandermangel. I didn't know about this module but it looks really promising.

[2016-03-03 19:53] madalinoprea commented on #57
Hi @lfolco ,

I've added compatibility for Magento CE 1.7 (I assume is ok for Magento EE 1.12 but I didn't test it). These code is going to be released tomorrow as part of version 1.5.1

![screen shot 2016-03-03 at 21 50 52](https://cloud.githubusercontent.com/assets/605494/13507185/382386fc-e18a-11e5-9811-7fbb6ad0bea1.png)

[2016-03-03 19:59] madalinoprea commented on #60
Downgrading priority of this issue.

I'll wait for feedback from someone that is using Windows and is frustrated by current installation method.

[2016-03-03 21:58] lfolco commented on #57
awesome, thanks!

[2016-03-04 08:59] #57 closed

[2016-03-05 00:20] VoteForNavalny opened #70 "Not valid template file"
Installed via modman

`2016-03-05T00:12:07+00:00 CRIT (2): Not valid template file:adminhtml/default/default/template/sheep_debug/toolbar.phtml
2016-03-05T00:12:36+00:00 CRIT (2): Not valid template file:adminhtml/default/default/template/sheep_debug/toolbar.phtml
2016-03-05T00:12:45+00:00 CRIT (2): Not valid template file:adminhtml/default/default/template/sheep_debug/toolbar.phtml
2016-03-05T00:

[2016-03-05 08:37] madalinoprea commented on #70
Hi @VoteForNavalny ,

- What version of Magento do you use?
- Did you enabled template symlinks? I bet 2 cents you skipped this step :D
Modman installation we'll create symlinks for code and template directories and by default Magento doesn't allow to use template files that are outside design folder. Enabling symlinks configuration is mandatory for any modman installation.
  - https://github.com/

[2016-03-05 12:16] coresh opened #71 "SQLSTATE[42S02]: Base table or view not found"
After initial installation:
`
modman clone https://github.com/madalinoprea/magneto-debug
`
and
`
n98-magerun.phar cache:flush
`

[code]

[2016-03-06 08:35] madalinoprea commented on #71
Hi @coresh,

I've tried a clean install and everything went smooth on my side.

After module is installed and configuration cache is flushed, module's configuration is parsed and observers are registered (from your stacktrace this already happened) and then SQL setup scripts responsible to create database scripts are run (which seems was not happened in your case).

- What version of Magento do yo

[2016-03-08 16:30] #66 closed

[2016-03-09 07:47] madalinoprea commented on #71
Hi @coresh,

Do you still get this error?

Cheers,
Mario

[2016-03-09 07:47] madalinoprea commented on #70
Hi @VoteForNavalny,

Did any of my comments helped you resolve this issue?

Cheers,
Mario

[2016-03-09 19:02] coresh commented on #71
Hi, Mario,

First of all: Thanks for your quick and complete reply.

Issue still not solved (output: the same)

Version: EE 1.14.2.2

`
# code, version, data_version
sheep_debug_setup, 1.6.0, 1.6.0
`

[code]

i can't find CREATE table sheep_debug_request_info syntax:
[code]
In the same time magneto-debug version 1.5 worked like a charm

[2016-03-09 19:31] coresh commented on #71
Regarding magneto-debug version 1.6
issue: solved after commenting line 163 of:
.modman/magneto-debug/code/Debug/Model/Observer.php
[code]

[2016-03-09 19:31] madalinoprea commented on #71
Did you try to run to remove core_resource entry and flush the cache and you had the same error?

Table is created by https://github.com/madalinoprea/magneto-debug/blob/master/code/Debug/sql/sheep_debug_setup/install-1.3.0.php#L11

I've reinstalled everything on Magento EE 1.14.2.1 and everything worked as expected:
[code]

[2016-03-09 19:36] madalinoprea commented on #71
@coresh, yes that line will try to persist some info to the missing table. I wouldn't remove that. It will make the module useless :D

I can provide you raw SQL to create table by hand, but I would like to understand what is happening and why setup script is not running on your installation.

[2016-03-09 19:44] coresh commented on #71
[code]

[2016-03-09 19:45] madalinoprea commented on #71
In your case that's expected, you don't have that table.

[2016-03-09 19:48] coresh commented on #71
Dear Mario,
According to the setup:
[code]
I can't find the syntax with: CREATE TABLE sheep_debug_request_info...

[2016-03-09 19:56] madalinoprea commented on #71
Table is added via Magento DDL object, see newTable call.

I notice that you use MariaDB. Maybe you use a different connection class that doesn't implement newTable?!

Query that used is to create the table is this:
[code]

[2016-03-09 20:02] coresh commented on #71
After creating the table
[code]
magneto-debug v 1.6 worked like a charm
without commenting the 163 line: $this->getRequestInfo()->save();
Thanks for your perfect project and real-time support :+1:

[2016-03-09 20:06] madalinoprea commented on #71
No problem.  Still I think we didn't resolve the root cause but at least you can use it.

Cheers,
Mario

[2016-03-09 20:44] coresh commented on #71
Magic instance:
1. modman remove magneto-debug
2. drop table sheep_debug_request_info;
3. modman clone https://github.com/madalinoprea/magneto-debug
4. redis-cli FLUSHALL (n98-magerun.phar cache:flush)
5. refreshing browser
So issue with:
[code]
6. step:
[code]
7. refreshing browser
8. table 'sheep_debug_request_info': created

Result of the 8 step: NO issue

So: issue may be around initial setup

[2016-03-09 20:55] VoteForNavalny commented on #70
You're right, sorry for stupid issue.

[2016-03-10 09:02] madalinoprea commented on #70
No worries, @VoteForNavalny

I'll close this

[2016-03-10 09:02] #70 closed

[2016-03-10 09:53] madalinoprea commented on #71
Is not me is you :)

I've also tried to replicate this issue using redis as cache backend, flushing cache using redis-cli and everything worked as expected at step 5.

**Setup script is executed fist.**
![screen shot 2016-03-10 at 11 50 20](https://cloud.githubusercontent.com/assets/605494/13665718/7dbbf182-e6b6-11e5-8e41-9f118da7e7a8.png)

**Profiling started**
![screen shot 2016-03-10 at 11 50 4

[2016-03-10 10:12] madalinoprea commented on #51
I've looked at Danslo_Aop but I don't like the idea that we will have to depend on 'gaaop/framework.

But we're good. We have a simpler alternative: use a custom Zend_Db_Profiler.
 - create a configuration that enables sql stack trace
 - Magento doesn't pass profiler class configuration to Zend_Db, so we have to add it via an observer as soon as possible (e.g onControllerFrontInitBefore)
- Record

[2016-03-10 11:04] madalinoprea opened #72 "Improve support for Magento EE FPC"
Things to consider:
- make a hole in FPC for toolbar so that request token will point to correct profile information, displayed information is related to current request and not to the request that filled in FPC
- check if profile information is recorded for all FPC request flows

[2016-03-10 11:34] sandermangel commented on #51
@madalinoprea makes sense, I'll do some tests next week when I have some time on my hands.
My biggest 'worry' is that using observers we're gonna miss out on some queries

[2016-03-10 20:36] coresh commented on #71
Any success?

[2016-03-11 08:17] madalinoprea commented on #51
I believe we will lost stack traces for some queries. I hope they are not too many in that important.

I've pushed some changes to have an workable prototype:

![screen shot 2016-03-11 at 10 16 24](https://cloud.githubusercontent.com/assets/605494/13696909/5c152de8-e772-11e5-8ff4-df65aea19dcd.png)

Also we should try trim Magento root directory from referenced file.

[2016-03-15 08:37] sandermangel commented on #51
this is awesome! Path can be removed indeed

[2016-03-15 09:56] sandermangel opened #73 "Use English(?) translations on front end in bar"
By using the front end translations the bar is translated on the website into a language I'm not too familiar with. It's not a big issue but imo it would be better to keep English translations at all times.

Would love to hear some input on this

[2016-03-15 14:17] madalinoprea commented on #73
I think that's are real good point. Lately I was lucky to work only with websites in english.

[2016-03-15 15:26] ThomasNegeli commented on #68
Still the same problem with Version 1.6.0.
Problem occurs when I go to the store config in the backend. The other backend parts seem to work.

[2016-03-15 15:55] madalinoprea commented on #68
Hi @ThomasNegeli ,

Can you add an updated stack trace? Version 1.6.0 contained some updates that would ..

Oh shit.. probably Aitoc_Aitquantitymanager_Model_Rewrite_FrontCoreWebsite creates one block instance to recursively render a node tree and its childs.

I'll reopened this issue. No clue to address it but it least we can remove throw exception.

[2016-03-15 16:19] madalinoprea commented on #68
@ThomasNegeli , please check release 1.6.1. I've pushed that few minutes ago.

[2016-03-15 16:19] #68 closed

[2016-03-16 06:13] #73 closed

[2016-03-16 15:16] didesignbg opened #75 "Call to undefined method Zend_Mime_Part::getRawContent()"
Hi, thanks for the great module.
I get the following Fatal error: Call to undefined method Zend_Mime_Part::getRawContent() in /var/www/.modman/magneto-debug/code/Debug/Model/Core/Email/Template.php on line 105
Magento 1.7.0.2, PHP 5.6, this happens when magent sends a welcome email to new user. I've checked the class Zend_Mime_Part located at lib/Zend/Mime/Part.php and sure enough it doesn't have

[2016-03-16 16:44] #75 closed

[2016-03-16 16:46] madalinoprea commented on #75
Hi @didesignbg,

You're absolutely right: getRawContent() method is not available on Zend Framework 1.11 that is used by Magento CE 1.7. Unit test didn't help to catch this error.

Thanks for reporting this problem. I've pushed a fix in release 1.6.2.

Thanks,
Mario

[2016-03-16 18:40] #51 closed

[2016-03-17 07:47] didesignbg commented on #75
Thank you Mario, just tested and it works like a charm. Great support.

[2016-03-21 11:59] tbondois opened #76 "suggestion : a dedicated option to disable $this->getRequestInfo()->save();"
Hello,

I find irrelevant that by default, a debug toolbar insert in db lot of data on each call. The response can be big, in case of ajax call for example.
I speak about this insert : $this->getRequestInfo()->save() in Model/Observer.php

Did you think about a dedicated option to enable/disable inserts in sheep_debug_request_info ?

Cherry on the cake : also an option to truncate this table :)

[2016-03-22 20:38] madalinoprea commented on #76
Hi @tbondois,

I've considered to disable persistence but I need a least a temporary storage to store detailed information. I'll look to see what are advantages and cons to use Magento cache storage as an alternative storage source.

Right now there is a config that disables persistence but I didn't test lately and I don't know its probable  side effects:  https://github.com/madalinoprea/magneto-d

[2016-03-23 10:29] sandermangel opened #77 "Overwriting `core_email` and `core_email_template` gives conflicts"
A few frequently used email modules like `Ashroder_Smtp`, mailchimp and dotmailer rewrite the `core_email` and `core_email_template` models.

Is there any other way

[2016-03-23 11:37] tbondois commented on #76
Yes I saw the configuration thing. Problem is that if you want to quicky re-enable hit, it's not quick :)

How annoying is for you to have this save? What are its main problems?

See on my https://github.com/tbondois/magento1devkit in Helper/Data.php I made a *superquick* (and a little dirty) fix.The only thing it's don't do now is displaying the most / last report in the extended panel of the too

[2016-03-28 14:20] devzorg opened #78 "Magento Downloader Fatal Error"
PHP message: PHP Fatal error:  Call to a member function getSessionId() on null in *****/.modman/magneto-debug/code/Debug/Model/RequestInfo.php on line 505" while reading response header from upstream, client: *********, server: *********, request: "POST /downloader/index.php?A=cleanCache

Looks like Sheep injects even to downloader :) need to exclude this I guess

[2016-04-13 08:57] madalinoprea commented on #78
Hi @devzorg,

Thanks for reporting this. I've committed some fixes that will resolve fatal errors. This is going to be included in our weekly release.

There is another ticket that will address on-demand capturing and probably whitelisting/blacklisting requests.

Cheers,
Mario

[2016-04-13 08:57] #78 closed

[2016-04-13 09:08] madalinoprea commented on #76
@tbondois I'll work on adding the ability to enable/disable capturing. It makes sense. I'm avid user of xdebug but I  enable it  on demand because it adds to much overhead.

I'll take a look at your branch. Currently I see this feature requiring the following steps:
- Add 'Enable/Disable Capture' entry under Tools menu
- When menu is clicked add/remove cookie
- Update canPersist() to take into acc

[2016-04-13 10:18] madalinoprea commented on #76
I've added some implementation for this feature. I'll test it to see how other areas are impacted and maybe maybe we're going to release this friday :tada:

![image](https://cloud.githubusercontent.com/assets/605494/14490164/f4b8163e-0179-11e6-906d-9cd3a04e0715.png)

[2016-04-13 10:53] madalinoprea commented on #77
Hi @sandermangel,

I'm going to think about it. I agree that this extension shouldn't have this side effect.

Currently I'm going to see if we can apply this solution https://github.com/Danack/intahwebz-examples/tree/master/src/Intahwebz/Examples/DynamicInheritance

Or add the rewrites dynamically only if we can handle core/email_template implementation.

[2016-04-14 09:23] tbondois commented on #76
Nice :)

I make almost the same algorythm you describe on my fork 3 weeks ago - but in a dirtier way, for sure :D
And I noticed that when I disabled persistance, the extended panels didn't work (when you clic on a entry on the left). Think to test that ^^

NB : on https://github.com/tbondois/magento1devkit/commit/617c4b11bd680142b651b5b149a3bb30c9b6cef2 in getRouteStoreId() as you can see I also f

[2016-04-14 09:27] madalinoprea commented on #76
@tbondois, what do you mean by extended panels? Do you refer to detail view? That is not going to work because that view is in another request and to work it needs all these information persisted.

An option would be to use short lifetime cache keys for temporary storage.

[2016-04-15 07:16] sandermangel commented on #77
Great! Thanks for that. Looks like a nice option to fix the issue

[2016-04-19 08:12] paales opened #79 "Magento 2 version"
The module is awesome, would be awesome to have it available for Magento 2!

[2016-04-19 13:46] tbondois commented on #76
Yes. If I will need it I can enable the persistance, it's not a problem, it was just to notice you about possible problems.

[2016-04-22 07:20] #76 closed

[2016-04-22 07:30] madalinoprea commented on #60
Wait is complete. Closing this.

[2016-04-22 07:30] #60 closed

[2016-04-22 07:37] madalinoprea commented on #79
Hi @paales ,

Few weeks ago the idea was to start a Magento 2 port during a hackaton. My evil and hidden master plan was to talk to @tzyganu to gather few Magento devs from Bucharest and also get @sandermangel to join us.

Due to some recent changes in my carrier I don't see any realistic plan to start working on a port. I don't see me working on Magento 2 project in the following 4-6 months.

If

[2016-04-22 07:45] tzyganu commented on #79
@madalinoprea @paales
For the same reason I don't see myself working on a M2 project this year.
I also have my own extension for developers to port to M2.
but gathering in a secret meeting would be nice at least to make a plan.
This extension has to see the light of M2. It is too awesome not to.

[2016-05-20 09:00] possi opened #81 "PHP Fatal error: Call to undefined method stdClass::getContent() if E-Mail sending is disabled"
[code]

Error only occurs if System-Configuration `system/smtp/disable` is checked. Because of this, the Zend_Mail-Object is empty (no plain or html body) which causes an fatal error while logging.

[2016-05-25 09:03] michaelzangerle opened #82 "Extension breaks wishlist"
When the extension is enabled and I access the wishlist page I get following error:

[code]

For some reason $item is null when the extension is enabled - when I disable the extension it works fine.
I could patch the Options.php file but I am not quite sure if this is the way to go as it works fine without the extension.

Magento ver. 1.9.2.1
Latest version of magneto-debug

[2016-06-03 07:50] bkibilko opened #83 "PHPUnit issue with MagentoEE 1.14"
I just pulled the newest changes from master branch and I got this error after running unit tests:

More details:
CentOS 7.2 on vagrant
PHP 5.4.16
PHPUnit 4.8.26
Magento 1.14.2.4

[2016-06-03 12:45] bkibilko commented on #83
I fixed session issue according to this blog post http://mmenozzi.github.io/2015/07/21/session-handling-while-testing-magento-with-ecomdev-phpunit/ , but I'm not sure if issue can be closed. In my opinion, it shouldn't happen.

[2016-06-03 13:05] madalinoprea commented on #83
Hi @bkibilko , I'll take a look to see if  I can reproduce same error. This looks familiar. I believe I use a custom phpunit configuration file.

Can you check if you have same error with this configuration file: https://github.com/madalinoprea/magneto-debug/commit/09f0d3e3d063b2160ed1bc436afca1070f3e0a71

[2016-06-07 05:18] bkibilko commented on #83
Hi @madalinoprea,
It works fine with this configuration file :), but I have to placed it to magento folder to run phpunit without parameters. May I suggest add this to modman file? I can create a pull request
:+1:

[2016-06-08 06:56] progammer-rkt opened #84 "Template Hints Works in admin side but not in Frontend side."
Hi,

I have a weird issue here. I 'modman'ed this extension to my local magento site. But Template hints enabling/disabling from toolbar is not working in frontend, but it works in admin section!

I tried `delete from core_config_data where path like 'dev/debug/template_hints%' and scope!= 'default';` but it is not working.

Please let me know how can I dig it out this issue. Thank you.

[2016-06-09 12:39] steffen-wirth opened #85 "Magento Connect Manager not working - Fatal Error"
Fatal error: Call to a member function getSessionId() on null in F:\xampp\htdocs\c2\fliesensale\htdocs\app\code\community\Sheep\Debug\Model\RequestInfo.php on line 505

seems that $this->action is null on this page

[2016-06-15 12:37] possi opened #86 "Sheep Debug causes early Session-ID initialization (PHPSESSID)"
http://alanstorm.com/magento_sessions_early

While Sheep-Debug is enabled, magento frontend and adminhtml both creates a PHPSESSID session-cookie instead of frontend/adminhtml.
This is because the observer onControllerFrontInitBefore() calls Sheep_Debug_Model_Controller->init() which tries to get the current encryptedSessionId.

![image](https://cloud.githubusercontent.com/assets/1308937/16079980/

[2016-06-16 09:03] sandermangel commented on #81
@possi PR that fixes it: https://github.com/madalinoprea/magneto-debug/pull/87

[2016-06-16 09:07] sandermangel commented on #77
@madalinoprea wasn't this fixed in the latest version?

[2016-06-17 07:20] madalinoprea commented on #82
Thanks @michaelzangerle for reporting this. I've also noticed this several times and I didn't image was caused by this extension.

I'll take a look and find a solution to resolve this unwanted side effect.

[2016-06-19 15:03] madalinoprea opened #88 "Fix n98-magerun "Too many arguments. " CI error"
Recent CI builds are raising an error when trying to install Magento.

E.g: https://travis-ci.org/madalinoprea/magneto-debug/jobs/138536911

[code]

[2016-06-19 15:16] #88 closed

[2016-06-19 15:16] #82 closed

[2016-06-19 16:20] madalinoprea commented on #86
Thanks @possi for pointing this error. I didn't notice it but probably I've blamed Magento for some weirdnesses.

I've committed a fix that is going to be included in the next release scheduled for early next week.

[2016-06-19 16:20] #86 closed

[2016-06-20 07:44] michaelzangerle commented on #82
Thanks!

[2016-06-24 06:50] madalinoprea commented on #85
Hi @steffen-wirth,

I cannot reproduce this exception. What actions are you doing on Magento Connect Manager? What is the request path when you get this fatal error?

![image](https://cloud.githubusercontent.com/assets/605494/16330301/ec5a23e2-39f0-11e6-9df0-532c497ae6ee.png)

Action doesn't seem to be null in my case:
![image](https://cloud.githubusercontent.com/assets/605494/16330304/f108464e-39

[2016-06-24 06:53] #81 closed

[2016-06-24 08:50] madalinoprea commented on #83
Happy that your issue got resolved. I'm against your solution because people might have their own configuration files and it will not be nice to automatically overwrite them :)

I've added this error in 'Common Issues' section from Readme.

[2016-06-24 08:50] #83 closed

[2016-06-25 02:51] madalinoprea commented on #84
Hi @progammer-rkt ,

I see two reasons why this might occur:

1. You're using a custom theme on frontend that removed or overwrote layout update that is responsible to add before_body_end block.

You can check if toolbar is visible when using the out of the box theme to confirm is theme issue and then to manually re-add the block and check what other functionality was suppressed by removing that b

[2016-08-01 22:47] dng-dev commented on #79
I like this extension and maybe i can help to port it :)

[2016-08-01 22:49] dng-dev commented on #62
i would like to see this https://youtrack.jetbrains.com/issue/IDEA-65879

[2016-08-14 13:43] binary-data opened #91 "Javascript error: "toolbar.js:26 Uncaught ReferenceError: Mage is not defined""
When I install extension with composer, all works fine. But on frontend on every page I get "toolbar.js:26 Uncaught ReferenceError: Mage is not defined" Javascript error.

I think this happens because `js/mage/cookies.js` file is not connected to my theme.
![toolbar_error1](https://cloud.githubusercontent.com/assets/875296/17649436/82c5d358-6246-11e6-8bf6-ee3c7e3ddf6d.png)
![toolbar_error2](https:

[2016-10-10 16:59] JoryHogeveen opened #92 "Mage registry key "_singleton/sheep_debug/observer" already exists"
Though I cleared all Magento cash (and even disabled it..) I still get the registry key error.

[code]

[2016-10-10 17:17] JoryHogeveen commented on #92
It was the Magento compiler.
Maybe add that in the Common Issues part?

[2016-10-10 17:17] #92 closed

[2016-10-20 09:06] clivewalkden opened #93 "Page Load time is always 0.00s"
I've been using this plugin a while and since using it I've never had the page load time show anything other than 0.00s

![image](https://cloud.githubusercontent.com/assets/1225802/19553540/86bef9c2-96ac-11e6-853f-a40f0662e3d1.png)

[2016-10-26 07:38] dydboy commented on #93
Same problem for me.

[2016-10-26 08:41] clivewalkden commented on #93
Looks like the page load time is based of xdebug_time_index function which i don't have running on my environment. Am i correct @madalinoprea?

[2016-10-26 10:16] madalinoprea commented on #93
Hi @clivewalkden ,

You're perfectly right.

https://github.com/madalinoprea/magneto-debug/blob/master/code/Debug/Helper/Data.php#L313 is responsible to get time spent in current request.

This code was written long time ago and I forgot about it. If you're interested in that metric than you should definitely install xdebug.

An option would be to find a fallback implementation that can offer a de

[2016-10-26 10:20] dydboy commented on #93
Thanks, that sorted my issue. It was xdebug indeed.

[2016-11-30 10:43] onthefrontline opened #94 "Warning: include(): Failed opening 'Sheep/Debug/Model/Observer.php' for inclusion"
I'm getting the follow error:

2016-11-29T19:59:07+00:00 ERR (3): Warning: include(Sheep/Debug/Model/Observer.php): failed to open stream: No such file or directory  in /usr/share/nginx/magento/lib/Varien/Autoload.php on line 94
2016-11-29T19:59:07+00:00 ERR (3): Warning: include(): Failed opening 'Sheep/Debug/Model/Observer.php' for inclusion (include_path='/usr/share/nginx/sites/magento/app/code

[2016-12-01 07:59] madalinoprea commented on #94
@onthefrontline, check if you use Magento Compilation and try to regenerate source files: http://www.createhosting.co.nz/support/knowledgebase.php?action=displayarticle&id=49

This is my best guest why you get this error.

[2017-01-25 04:18] hgati opened #95 "Uncaught ReferenceError: Mage is not defined"
javascript error on admin screen.

![snap1](https://cloud.githubusercontent.com/assets/6913728/22277661/b5554bb0-e300-11e6-87d0-d57dd6420daf.jpg)

[2017-01-25 04:46] hgati commented on #95
I've solved.
http://magento.stackexchange.com/questions/105068/mage-cookies-clear-not-working

The function called Mage is not used anywhere in core Magento, probably that's why nobody noticed it was broken for 8 years.

1. Fixed the function called Mage.
![snap2](https://cloud.githubusercontent.com/assets/6913728/22278087/f90abf18-e303-11e6-9b72-3adcbe0e3944.jpg)

![snap3](https://cloud.githubuse

[2017-02-13 15:49] proxium opened #97 "Exception "Disable profiler first!""
When enabling the profiler from the toolbar this exception appears (I'm using Magento 1.9.3.2 + Sheep_Debug 1.8.1):

2017/02/13 16:45:12 [error] 7009#0: *19 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught exception 'Exception' with message 'Disable profiler first!' in /var/www/sites/magento/src/app/code/community/Varien/Profiler.php:491
Stack trace:
#0 /var/www/sites/magento/src/a

[2017-02-13 21:49] devzorg commented on #93
Fixed fine with xdebug. But still shows 0 sec on profiler and shows Not rendered for all blocks

[2017-06-22 09:31] deepanshu27193 commented on #97
@proxium have you installed any other extension for profiling like Aoe_Profiler etc. If yes, try disable or uninstalling them once.

[2017-07-10 14:41] dudzio12 commented on #97
Aoe_Profiler implements Varien_Profiler class. Make sure it's also deleted from app/code/community dir.

[2017-08-26 17:04] vknair000 opened #99 "console error"
Uncaught DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method.

anyone tell me a solution?

[2017-11-28 12:15] kkrieger85 commented on #97
Hi,

i faced this exception even after disabling Aoe_Profiler. What else could cause that?

Thx

[2017-11-29 00:13] kogutu opened #101 "Problems /includes/src/Sheep_Debug_Model_Observer.php"
Hello, I successfully installed your extension but i get this error:
`2017-11-29T00:04:22+00:00 ERR (3): Warning: include(/home/directseo/domains/carinii.eu/public_html/includes/src/Sheep_Debug_Model_Observer.php): failed to open stream: No such file or directory  in /home/directseo/domains/carinii.eu/public_html/includes/src/Varien_Autoload.php on line 94
2017-11-29T00:04:22+00:00 ERR (3): Warnin

[2017-11-29 00:17] kogutu commented on #101
Ok I solve problem, I forget about compilation (http://www.createhosting.co.nz/support/knowledgebase.php?action=displayarticle&id=49)

[2017-11-29 00:17] #101 closed, assigned to nobody

[2017-11-29 10:58] madalinoprea commented on #101
Ohh.. that Magento feature everyone avoided for so long :)

Any reason why you keep Magento "compilation" enabled and not rely on PHP apc, opcache or what name they use now?

[2017-11-29 11:03] madalinoprea commented on #97
This exception is raised by https://github.com/AOEpeople/Aoe_Profiler/blob/dd9fdf94879e687c2bb5140229910450c46e8f7f/app/code/community/Varien/Profiler.php#L491 so maybe you didn't completely disabled Aoe_Profiler. Maybe Magento compilation  needs to be refreshed?!

Why exception is raised? This module, by default, is enabling Magento profiler to fetch some details: https://github.com/madalinoprea/

[2017-11-29 11:03] #97 closed

[2017-11-29 11:05] #94 closed

[2017-11-29 11:07] #84 closed

[2017-11-29 11:08] #71 closed

[2017-12-14 12:59] proxium commented on #97
I confirm that setting the configuration via n98-magerun.phar (because Admin was not accessible)

    n98-magerun.phar config:set --scope=default --scope-id=0 sheep_debug/options/force_varien_profile 0

had fixed the issue

[2018-01-12 09:02] devzorg opened #102 "Session issues (frontend and adminhtml dissapears)"
When the module is on and developer mode detected by ip (in the developer ips settings of magento) then  `adminhtml` and `frontend` cookies disappears. Looks like it overrides namespaces of sessions and uses only PHPSESSID, if persistent cart is on (it uses `frontend_cid` cookie) then there are only `_cid` and `PHPSESSID` cookies. What the reason why I thinking that it clean namespaces cause it sh

[2018-01-12 09:05] devzorg commented on #102
Have updated to 1.8.3 and solved :)

[2018-01-12 09:05] #102 closed, assigned to nobody

[2018-03-12 11:35] markdimi commented on #79
Is there a M2 port for this extension?

[2018-03-28 14:55] Ejilarasan commented on #95
2.Add the function mage into adminhtml layout.

Can you describe the exact file where to edit the step2?.

[2018-03-28 15:20] hgati commented on #95
I wrote that code in my own custom module.

[2020-06-20 12:12] FahrizaRizky2 opened #103 "PDOStatement::execute(): SQLSTATE[42S02]: Base table or view not found: 1146"